<!DOCTYPE html>
<html>
    <head>
        <title>Customer Page</title>
    </head>
    <body>
        <div class="well">
            <h3>All customers:</h3>
            {% if all_customers is not empty %}
                {% for customer in all_customers %}
                    <a href="/{{customer.getId}}">{{customer.getName}}</a>
                {% endfor %}
            {% endif %}

        </div>


        <div class="well">
        <h3>Enter New Customer Information</h3>
            <form class="" action="/" method="post">
                <label for="">Name:</label>
                <input class="form-control" type="text" name="name" value="">
                <label for="">Email:</label>
                <input class="form-control" type="text" name="email" value="">
                <label for="">Address:</label>
                <input class="form-control" type="text" name="address" value="">
                <label for="">Password:</label>
                <input class="form-control" type="text" name="password" value="">
                <label for="">Funds:</label>
                <input class="form-control" type="number" name="funds"  value="0">
                <button class="btn btn-success" type="submit" name="button">Success</button>
            </form>
        </div>
        <div class="well">
            <h3>Editing Information:</h3>
            {% if selected_customer %}

            {% endif %}
        </div>
        <div class="well
        ">
        {% if selected_customer%}
            
            {% endif %}
        </div>
    </body>
</html>
