<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Shoppr</title>
    </head>
    <body>
        <h1 class="text-center">Home Page</h1>
        <div class="container">
            <h2><a href="/products">Enter Products</a></h2>
            <h2><a href="/categories">Enter categories</a></h2>
        </div>
    </body>
</html>
