<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ShoppR</title>
  </head>
  <body>
      <h1>Home Page</h1>
      <a href="/products">Enter / Modify Products</a>
  </body>
</html>
