<!DOCTYPE html>
<html>
    <body>
        <ul>
            {% if orders is not empty %}
                {% for order in orders %}
                    <li>{{ product.getProduct }}</li>
                    Cart qty - {{ product.getPurchaseQuantity }}
                    Cart total - {{ order.getCartTotal }}
                {% endfor %}
            {% endif %}
            <form class="" action="/test/receipt" method="post">
                <h1>Test save php copy of receipt accept-charset</h1>
                <h1>This will generate a receipt for pre written pdfile and save it to a directory</h1>
                <button type="submit" name="button">SUBMIT</button>
            </form>

            
        </ul>



    </body>
</html>
