.jumbotron {
    background: url('https://c2.staticflickr.com/1/756/21027093585_593f2b7943_c.jpg') center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: green;
    text-shadow: 3px 3px 3px white;
}
.product-table .row {
    padding: 2%;
    border: dotted;
}

img {
    height: 5vh;
    width: auto;
}

.trash{
    display: inline;
    max-height: .4em;

}
.trash button{
    display: inline;
    font-size: 10px !important;
}
ul{
    list-style: none;
}
.cartContents{
    overflow: scroll;
    max-height: 500px;
    margin-left: 0;
}
.smallFont{
    font-size: .7em;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.bananas{
    background: url('http://data.whicdn.com/images/127720451/original.gif');
}
